<?xml version='1.0' encoding='utf-8'?>
<widget id="com.laimagine.lluna" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lluna</name>
    <description>
        Lluna by LA Imagine
    </description>
    <author email="contact@laimagine.com" href="http://www.laimagine.com">
        LA Imagine
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardDispplayRequiresUserAction" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="InAppBrowserStorageEnabled" value="false" />
    <preference name="KeepRunning" value="false" />
    <gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />

    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
	
	<icon gap:platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" height="180" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-60.png" width="60" height="60" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" height="120" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-small.png" width="29" height="29" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" height="58" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-40.png" width="40" height="40" />
	<icon gap:platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" height="80" />
    <icon gap:platform="ios" src="www/res/icon/ios/icon-57.png" height="57" width="57" />
    <icon gap:platform="ios" src="www/res/icon/ios/icon-72.png" height="72" width="72" />
    <icon gap:platform="ios" src="www/res/icon/ios/icon-57-2x.png" height="114" width="114" />
    <icon gap:platform="ios" src="www/res/icon/ios/icon-72-2x.png" height="144" width="144" />

	<gap:splash src="splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />

    <gap:splash gap:platform="ios" src="www/res/screen/ios/screen-iphone-portrait.png" height="480" width="320" />
    <gap:splash gap:platform="ios" rc="www/res/screen/ios/screen-iphone-portrait-2x.png" height="960" swidth="640" />
    <gap:splash gap:platform="ios" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" height="1136" width="640" />
    <gap:splash gap:platform="ios" src="www/res/screen/ios/screen-ipad-portrait.png" height="1024" width="768" />
    <gap:splash gap:platform="ios" src="www/res/screen/ios/screen-ipad-landscape.png" height="768" width="1024" />

    <access launch-external="yes" origin="laimagine.com" subdomains="true" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <engine name="android" spec="^4.1.1" />
</widget>